rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Konfiguracja domków - publiczny odczyt, zapis tylko dla admina
    match /config/{docId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    // Rezerwacje - publiczny odczyt dla kalendarza, tworzenie dla wszystkich, aktualizacja dla admina
    match /rezerwacje/{rezerwacjaId} {
      allow read: if true;
      allow create: if true;
      allow update: if request.auth != null;
      allow delete: if request.auth != null;
    }

    // Blokady domków - publiczny odczyt dla kalendarza, zarządzanie tylko dla admina
    match /blokady/{blokadaId} {
      allow read: if true;
      allow create: if request.auth != null;
      allow update: if request.auth != null;
      allow delete: if request.auth != null;
    }



    // Nowa kolekcja do zarządzania niedostępnością domków
    match /niedostepnosci/{niedostepnoscId} {
      allow read: if true;
      allow write: if request.auth != null;
    }
      }
  } 